@model List<WishList.Models.Item>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";

}
    <nav class="navbar navbar-success mb-3">
        <a asp-action="Index" asp-controller="Home">Home</a>
    </nav>
<h1>Wishlist</h1>
<a asp-action="create">Add item</a>
<ul>
    @{  
        foreach (var item in Model) {
            <li>@item.Description <a asp-action="delete" asp-route-id="@item.Id">Delete</a></li>
            
        };
    }

</ul>


